= form_with model: @product do |f|
  - if @product.errors.any?
    %span.err_message
      = I18n.t("errors.messages.not_saved")
      - @product.errors.full_messages.each do |message|
        %li= message


  .user-form__field__box
    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          出品画像
        %span.mandatory
          必須
        %br
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:images).shift
        %p
        最大10枚までアップロードできます

    .box
      - if @product.persisted?
        - @product.images.each_with_index do |image, i|
          .preview{data: { index: i }}
            = image_tag image.item.url, class: 'preview__content'
            .preview__delete 削除
      .dummy
      %label.box-field#default.field-0{"data-index": "#{@product.images.count}"}
        %i.fas.fa-camera
        = f.fields_for :images do |i|
          = i.file_field :item, name: "product[images_attributes][#{@product.images.count}][item]", type: 'file', class: "box__select"
          = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'

  .user-form__field__box
    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          商品名
        %span.mandatory
          必須
        %br
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:name).shift
        = f.text_field :name, id: :count_name, class: "user-form__field__box__group__form", placeholder: "40文字まで", maxlength: "40"
        .count_box
          %span.up_count 0
          \/ 40文字
    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          商品説明
        %span.mandatory
          必須
        %br
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:detail).shift
        = f.text_field :detail, id: :count_area, class: "user-form__field__box__group__detail", placeholder: "1000文字まで", maxlength: "1000"
        .count_box
          %span.up_counter 0
          \/ 1000文字

    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          カテゴリー
        %span.mandatory
          必須
        %br
    #category_box.user-form__field__category
      #partent_box.pulldown.user-form__field__category__box
        = f.select :category_id, options_for_select( @category_parent_array.pluck(:name, :id)),{include_blank: "選択してください"}, { class: "user-form__field__category__box__parent", id: "parent_category"}
      -# #children_box.pulldown.user-form__field__category__box__children
      -# #grandchildren_box.pulldown.user-form__field__category__box__grandchildren


    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          ブランド名
        %span
          任意
        %br
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:brand).shift
        = f.text_field :brand, class: "user-form__field__box__group__form", placeholder: "40文字まで", maxlength: "40"
    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          配送料の負担
        %span.mandatory
          必須
        %br
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:postage).shift
        = f.select :postage, [["送料込み(出品者負担)", "出品者負担"], ["着払い(購入者負担)", "購入者負担"]], {}, class: "user-form__field__box__group__form", include_blank: "選択して下さい"
    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          在庫
        %span.mandatory
          必須
        %br
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:stock).shift
        = f.number_field :stock, class: "user-form__field__box__group__form"

    .user-form__field__box__group
      .user-form__field__box__group__head
        %label
          販売価格
        %span.mandatory
          必須
        - if @product.errors.any?
          %span.err_message
            =  @product.errors.full_messages_for(:price).shift
        .namebox
          .pricetitle
            (¥100 〜 ¥9,999,999)
          .pricebox
            .priceTag
              ¥
            = f.number_field :price, placeholder: "税込み価格(半角数字のみ)", min: "100", max: "9999999", class: "nmform"
        - if @product.id.nil?
          = f.submit "出品する", title: "商品を出品する", class: 'btn-default btn-sns'
        - elsif user_signed_in? && current_user.admin
          = f.submit "更新する", title: "商品を更新する", class: 'btn-default btn-sns'
          = link_to product_path(@product), method: :delete, data: { confirm: '削除しますか？' } do
            %input#product_delete{type: "button", value: "この商品を削除", title: "商品を削除", class: 'btn-default btn-sns'}
      .backpage
        %input{onclick: "history.back()", type: "button", value: "前のページへ戻る", class: 'btn-default btn-sns'}