= render 'layouts/navbar'
.space
.container-fluid.mt-5
  .row
    .contentCat.col-12
      .contentCat__show
        = "#{@category.name}の商品一覧"
    - if user_signed_in? && current_user.admin?
      .products
        - @products.each do |p|
          - if p.stock == 0
            .no-stock.col-md-4.col-sm-6.col-6
              .no-stock__msg
                No Stock
              .no-stock__admin
                = link_to 'Edit', edit_product_path(p)
                = link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }
              .no-stock__name
                %p
                  = p.name
                %p
                  在庫：
                  = p.stock
          - else
            .product.col-md-4.col-sm-6.col-6
              .product__front
                = link_to product_path(p) do
                  .product__front__imgbox
                    = image_tag p.images[0].item.url
                .product__title
                  = p.name
                .product__price
                  = "#{p.price.to_s(:delimited, delimiter: ',')}円"
              = link_to 'Edit', edit_product_path(p), class: "no-stock__admin"
              = link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: "no-stock__admin"
    - else
      .products
        - @products.each do |p|
          - if p.stock == 0
          - else
            .product.col-md-4.col-sm-6.col-6
              .product__front
                = link_to product_path(p) do
                  .product__front__imgbox
                    = image_tag p.images[0].item.url
                .product__title
                  = p.name
                .product__price
                  = "#{p.price.to_s(:delimited, delimiter: ',')}円"
    .button
      %input{onclick: "history.back()", type: "button", value: "前のページへ戻る", class: 'showMain__content__topContent__itemBox__detail__btn__purchaseBtn'}
