= render 'layouts/navbar'
= render 'layouts/notification'
.top-imgbox
  .cover-img
    = image_tag "cover.jpg"
    %p あなたに必要なカバーは何ですか？

.container-fluid.mt-5
  .row
    .content.col-md-4.col-sm-6.col-6
      .content__front
        .content__front__imgbox
          %a{:href => "/categories/1"}
            = image_tag "square.jpg"
            .content__front__imgbox__text iPhone 11

    .content.col-md-4.col-sm-6.col-6
      .content__front
        .content__front__imgbox
          %a{:href => "/categories/2"}
            = image_tag "square1.jpg"
            .content__front__imgbox__text iPhone 11 Pro

    .content.col-md-4.col-sm-6.col-6
      .content__front
        .content__front__imgbox
          %a{:href => "/categories/3"}
            = image_tag "square2.jpg"
            .content__front__imgbox__text iPhone 11 Pro Max

    .content.col-md-4.col-sm-6.col-6
      .content__front
        .content__front__imgbox
          %a{:href => "/categories/4"}
            = image_tag "square3.jpg"
            .content__front__imgbox__text AirPods

    .content.col-md-4.col-sm-6.col-6
      .content__front
        .content__front__imgbox
          %a{:href => "/categories/5"}
            = image_tag "square4.jpg"
            .content__front__imgbox__text AirPods Pro
