= render 'layouts/navbar'
.space
.showMain
  .showMain__content
    .showMain__content__topContent
      %h2.showMain__content__topContent__name
        = @product.name
      .showMain__content__topContent__itemBox
        .showMain__content__topContent__itemBox__body
          .showMain__content__topContent__itemBox__body__pic
            = image_tag @product.images[0].item.url, class: "mainImg"
            .showMain__content__topContent__itemBox__body__pic__sub
              - @product.images.each_with_index do |image|
                = image_tag image.item.url, class: "subImg"
        .showMain__content__topContent__itemBox__detail
          = form_with url: add_product_carts_path, local: true do |c|
            .showMain__content__topContent__itemBox__detail__price
              %span
                = "¥#{@product.price.to_s(:delimited, delimiter: ',')}"
              .showMain__content__topContent__itemBox__detail__price__subinfo
                %span (税込)
                %span 送料
                = @product.postage
            .showMain__content__topContent__itemBox__detail__itemDetail
              = @product.detail
            .showMain__content__topContent__itemBox__detail__itemDetail
              カテゴリー：
              %span
              = @product.category.name
            .showMain__content__topContent__itemBox__detail__itemDetail
              ブランド：
              %span
              = @product.brand
            .showMain__content__topContent__itemBox__detail__itemDetail
              - if @product.stock > 0
                Available
              - else
                SOLD OUT
            .showMain__content__topContent__itemBox__detail__quantity
              購入数量：
              = c.select :quantity, stock_array_maker(@stock), {include_blank: "選択する"}, {class: "select-quantity"}
            .showMain__content__topContent__itemBox__detail__btn
              - if @product.stock == 0
                .showMain__content__topContent__itemBox__detail__btn__soldOut
                  SOLD OUT
              - elsif user_signed_in? && current_user.id != @product.user_id
                = c.hidden_field :product_id, value: @product.id
                = c.hidden_field :cart_id, value: @cart.id
                = c.submit "カートに追加", {class: "showMain__content__topContent__itemBox__detail__btn__purchaseBtn", id: "addToCart"}
              - elsif user_signed_in? && current_user.id == @product.user_id
                = link_to "Edit", edit_product_path(@product), class: "showMain__content__topContent__itemBox__detail__btn__purchaseBtn"
              - else
                = c.hidden_field :product_id, value: @product.id
                = c.hidden_field :cart_id, value: @cart.id
                = c.submit "カートに追加", {class: "showMain__content__topContent__itemBox__detail__btn__purchaseBtn", id: "addToCart"}