%body
  %header
    .container-fluid
      .row
        .site-title
          = link_to "BeYourCover", root_path, class: 'home'
        .site-nav
          #search.search-head-btn
            = link_to "#", class: "search" do
              %i.fas.fa-search
          #menu-bar
            #menu.menu
              #bar1.bar
              #bar2.bar
              #bar3.bar
            %div
              %ul#nav.nav.nav-sm
                - if current_user
                  .mainnav
                    %li= link_to "home", root_path, class: 'select'
                    %li= link_to "about", "#", class: 'select'
                    %li
                      %a#subnav.select.drop
                        = current_user.name
                        %i.fas.fa-caret-down
                  .subnav
                    %li
                      .dds
                        - if current_user.admin
                          = link_to "New Product", new_product_path, class: 'dds__select'
                          = link_to "Account Settings", edit_user_registration_path, class: 'dds__select'
                          = link_to "Logout", destroy_user_session_path, class:'dds__select', method: :delete
                - else
                  .mainnav
                    %li= link_to "home", root_path, class: 'select'
                    %li= link_to "about", "#", class: 'select'
                    %li.nav-item
                      = link_to "Signup", new_user_registration_path, class:'select'
                    %li.nav-item
                      = link_to "Signin", new_user_session_path, class:'select'
        #menu-bg.menu-bg
