= render 'layouts/navbar'
.space
= form_for(@user, url: user_registration_path, html: {method: 'PATCH', class: "user_form-field"}) do |f|
  .user-form
    .user-form__field
      %h2.body_head 登録情報編集
      - if @user.errors.any?
        %span.err_message
          = I18n.t("errors.messages.not_saved")
      .user-form__field__box
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              メールアドレス
            %span
              任意
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:email).shift
            = f.email_field :email, class: "user-form__field__box__group__form", placeholder: "PC・携帯どちらでも可"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              現在のパスワード
            %span
              任意
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:password).shift
            = f.password_field :password, class: "user-form__field__box__group__form", placeholder: "７文字以上の半角英数字"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              新しいパスワード
            %span
              任意
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:password).shift
            = f.password_field :password, class: "user-form__field__box__group__form", placeholder: "７文字以上の半角英数字"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              新しいパスワード（再入力）
            %span
              任意
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:password_confirmation).shift
            = f.password_field :password_confirmation, class: "user-form__field__box__group__form", placeholder: "７文字以上の半角英数字"
        = f.submit "更新する", class: 'btn-default btn-sns'
        -# %p
        -#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
        = link_to "戻る", :back, class: 'btn-default btn-sns'
    -# .field
    -#   = f.label :email
    -#   %br/
    -#   = f.email_field :email, autofocus: true, autocomplete: "email"
    -# - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    -#   %div
    -#     Currently waiting confirmation for: #{resource.unconfirmed_email}
  -#   .field
  -#     = f.label :password
  -#     %i (leave blank if you don't want to change it)
  -#     %br/
  -#     = f.password_field :password, autocomplete: "new-password"
  -#     - if @minimum_password_length
  -#       %br/
  -#       %em
  -#         = @minimum_password_length
  -#         characters minimum
  -#   .field
  -#     = f.label :password_confirmation
  -#     %br/
  -#     = f.password_field :password_confirmation, autocomplete: "new-password"
  -#   .field
  -#     = f.label :current_password
  -#     %i (we need your current password to confirm your changes)
  -#     %br/
  -#     = f.password_field :current_password, autocomplete: "current-password"
  -#   .actions
  -#     = f.submit "Update"
  -# %h3 Cancel my account
  -# %p
  -#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  -# = link_to "Back", :back
