= render 'layouts/navbar'
.space
= form_for(@user, url: new_user_path, html: {method: 'POST'}) do |f|
  .user-form
    .user-form__head
      %li.user-form__head__progress.progress-active
        会員情報
      %li.user-form__head__progress
        住所・TEL
      %li.user-form__head__progress__done
        完了
    .user-form__field
      %h2.body_head 会員情報入力
      - if @user.errors.any?
        %span.err_message
          = I18n.t("errors.messages.not_saved")
      .user-form__field__box
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              ニックネーム
            %span.mandatory
              必須
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:name).shift
            = f.text_field :name, class: "user-form__field__box__group__form", placeholder: "例)たろ"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              メールアドレス
            %span.mandatory
              必須
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:email).shift
            = f.email_field :email, class: "user-form__field__box__group__form", placeholder: "PC・携帯どちらでも可"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              パスワード
            %span.mandatory
              必須
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:password).shift
            = f.password_field :password, class: "user-form__field__box__group__form", placeholder: "７文字以上の半角英数字"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              パスワード確認
            %span.mandatory
              必須
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:password).shift
            = f.password_field :password, class: "user-form__field__box__group__form", placeholder: "７文字以上の半角英数字"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              お名前（全角）
            %span.mandatory
              必須
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:last_name).shift
                %br
                =  @user.errors.full_messages_for(:first_name).shift
          .namebox
            = f.text_field :last_name, class: "user-form__field__box__group__form nmform", placeholder: "例）山田"
            = f.text_field :first_name, class: "user-form__field__box__group__form nmform", placeholder: "例）太郎"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %label
              お名前カナ（全角）
            %span.mandatory
              必須
            %br
            - if @user.errors.any?
              %span.err_message
                =  @user.errors.full_messages_for(:last_kana).shift
                %br
                =  @user.errors.full_messages_for(:first_kana).shift
          .namebox
            = f.text_field :last_kana, class: "user-form__field__box__group__form nmform", placeholder: "例）ヤマダ"
            = f.text_field :first_kana, class: "user-form__field__box__group__form nmform", placeholder: "例）タロウ"
        .user-form__field__box__group
          .user-form__field__box__group__head
            %a
              ※本人情報は正しく入力してください。
        = f.submit "次へ進む", class: 'btn-default btn-sns'